html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "VT323", monospace;
  font-weight: 500;
  color: #ffffff;
  font-size: 26px;
}

body {
  overflow: hidden;
  background-color: #000000;
  font-family: "Merriweather", sans;
}

html,
body {
  overflow-x: hidden;
}

header {
  background: #ffffff;
  padding: 5px;
}
#logo {
  font-size: 40px;
  margin: 0px 0px 5px 0px;
  color: #000000;
  font-family: "Merriweather", serif;
  line-height: 1;
  font-weight: 700;
}
#logo img {
  margin: 0px 10px;
  position: relative;
  top: 6px;
}
h2 {
  font-size: 90px;
  margin: 40px 0px;
  text-align: center;
}
p {
  margin: 10px auto;
  width: 400px;
  font-size: 26px;
}
.center {
  text-align: center;
}

#clue {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

#timer {
  margin: 40px auto;
  width: 100%;
  overflow: hidden;
  background-color: #666666;
}
#timer-label {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  min-width: 30px;
  width: 0%;
  font-size: 15px;
  margin: 0px auto;
  height: 15px;
  padding: 5px;
  text-align: center;
  transition: background-color 500ms linear;
}
.button {
  margin: 10px auto;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
  display: block;
  width: 100%;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.view {
  width: 90%;
  max-width: 400px;
  margin: 0px auto;
}
#board {
  width: 100%;
  margin: 40px auto 40px auto;
  position: relative;
  overflow: hidden;
}
#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
#start-button {
  position: absolute;
  color: #ffffff;
  background-color: #000000;
  border: 0px solid #000000;
  padding: 10px 25px;
  font-size: 40px;
}

#board > canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#board #paint0 {
  position: static;
}

#pic {
  opacity: 0;
}
#hit {
  opacity: 0;
}

.view {
  display: none;
}
.view.shown {
  display: block;
}

#detail {
  top: 500px !important;
}

/* #paint0 {
    filter: blur(3px);
}
#paint1 {
    filter: blur(2px);
}
#paint2 {
    filter: blur(2px);
}
#paint3 {
    filter: blur(2px);
}
#paint4 {
    filter: blur(0px);
} */
