html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

#all {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
}

.bold {
  font-weight: 800;
}

header {
  background: #ffffff;
  padding: 5px;
  position: relative;
}

header .instructions-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}
#logotype {
  font-size: 30px;
  margin: 10px 0px 10px 55px;

  font-size: 40px;
  margin: 5px 0px 5px 55px;

  color: #000000;
  line-height: 1;
  font-weight: 300;
  display: inline-block;
}
#logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
h2 {
  font-size: 90px;
  margin: 40px 0px;
  text-align: center;
}
p {
  margin: 10px auto;
  font-size: 26px;
}
.center {
  text-align: center;
}

#start-button {
  padding: 10px 25px;
}

#clue {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.2;
}

#timer {
  margin: 40px auto;
  overflow: hidden;
  border: 4px solid #ffffff;
  position: relative;
  height: 25px;
}

#timer-bar {
  background: #ffffff;
  position: absolute;
  top: -5px;
  left: 0px;
  width: 0%;
  height: 35px;
}

#win-message,
#win-modal {
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 35px;
}
#win-message h2,
#win-modal h2 {
  color: #000000;
  text-align: left;
  font-size: 20px;
  margin: 2px 10px;
}

#win-links {
  position: absolute;
  top: 2px;
  right: 2px;
}
#win-links > * {
  margin: 0;
  height: 20px;
  cursor: pointer;
}

.timer-goal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  border-right: 4px solid #333333;
}
.timer-goal h3 {
  text-align: right;
  padding: 5px;
  font-size: 15px;
  color: #333333;
  font-weight: 800;
}

#stars {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 10px;
}

.star {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  width: 0px;
  margin: 0 5px;
}

.button {
  position: absolute;
  color: #ffffff;
  background-color: #000000;
  border: 0px solid #000000;
  padding: 10px 5px;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.view {
  width: 90%;
  margin: 0px auto;
  overflow: hidden;
}
#board {
  margin: 40px auto 40px auto;
  position: relative;
  overflow: hidden;
  border: 4px solid #ffffff;
  background-color: #ffffff;
}
#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

#board > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#board #paint0 {
  position: static;
}

#pic {
  opacity: 0;
}
#hit {
  opacity: 0;
}

.view {
  display: none;
}
.view.shown {
  display: block;
}

#detail {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  color: #666666;
  font-size: 15px;
  text-align: center;
  margin: 5px auto;
  line-height: 1.3;
}
footer a {
  color: #666666;
  text-decoration: none;
  font-weight: 800;
}

#instructions h2,
#stats h2 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 800;
  margin: 20px;
}
#instructions p {
  color: #ffffff;
  line-height: 1.3;
  font-size: 15px;
  overflow: hidden;
}

#instructions .button {
  position: relative;
  display: inline;
  color: #000000;
  background-color: #ffffff;
  margin: 10px auto;
  display: block;
}
#instructions .button img {
  position: relative;
  top: 5px;
  margin: 0px 10px;
}

#stats-graph-block {
  border: 4px solid #ffffff;
}

#stats-graph {
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  display: flex;
  margin: 40px 0px 0px 60px;
  flex-direction: column;
  justify-content: space-evenly;
}

.stats-bar {
  height: 40px;
  background-color: #ffffff;
  position: relative;
  min-width: 40px;
}

.stats-bar.zero {
  background-color: #000000;
}

.stats-label {
  position: absolute;
  top: 8px;
  left: -40px;
  text-align: center;
  width: 25px;
  font-size: 24px;
  color: #ffffff;
}

.stats-value {
  margin: 8px 10px 0 0;
  text-align: right;
  font-size: 24px;
  font-weight: 800;
}
#stats .button {
  position: relative;
  display: block;
  margin: 40px auto;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
